*{
  padding: 0;
  margin: 0;
}

.navbar{
  display: flex;
  background-color: white;
  height: 120px;
  width: 100%;
  position: fixed;
  justify-content: space-evenly;
  z-index: 1;
 
}

.navbar-list li {
display: inline-block;
font-size: 1.5rem;
margin: 40px 0;

}
.nav-item a{
  text-decoration:none;
  color: blue;
  margin: 30px;
  text-align: center;
 
}
.logo{
  margin: 30px 0;
}
.logo:hover{
  transform:scale(1.1);
}

.nav-link:hover{
  color: black;
  font-size: larger;
  cursor:pointer;
}

#slider{
  overflow: hidden;
}
#slider figure{
  position: relative;
  width: 500%;
  margin:20px 0;
  padding: 20px;
  left: 0;
  animation: 10s slider alternate ease;
  transition: 1s;
 
}
#slider figure img{
  width: 20%;
  float: left;
}


.text-slider{
  padding:30px ;
  position:relative;
  left:60px;
  top: -350px;
  color: white;
  font-size: 1.5rem;
 
}
.text-slider p{
  font-size: 1.2rem;
}
span{
  color:lightskyblue;
  font-size: larger;
  }
.button{
  background-color: rgb(81, 175, 233);
  color: white;
  border: none;
  padding: 15px;
  margin: 50px;
  border-radius: 10px;
  font-size: medium;
}
.button:hover{
  transform:scale(1.1);
}
@keyframes slider {
  0%{
    left:0;
  }
  25%{
    left:0;
  }

  50%{
    left:-100%;
  }
  65%{
    right:-25%;
  }
  85%{
    right:-50%;
  }
  100%{
    right:-100%;
  }
}
h2 , .paragraphe-2{
display: flex;
justify-content: center;

}
/*  DEBUT SECTION SERVICES*/
h2{
  margin: -250px 0 0 0;
  font-size:2rem;

}
.hr-circle {
  display:inline-block;
 
 
}
.separator{
  margin:1rem 42rem;
}
.separator1{
  margin:1rem 38rem;

}
.hr-circle hr{
  width:70px;
  
}

.container{
  display: flex;
  justify-content: space-between;
  padding: 70px;
  margin: 20px;
}
.service_img{
  padding: 10px ;
}
.text-description{
  font-size: 1rem;
}
.list-item1 , .list-item2 , .list-item3{
  display:flex;
  margin:30px;
  
}
h4{
  font-size:1.5rem;
}

.text-description p{
  font-size:1.2rem;
  margin-top:15px;

}
.icon1 , .icon2 , .icon3{
  margin-right:20px;
  margin-top:10px;
  padding:0 20px;
}
.paragraphe-2 p{
  font-size: 1.2rem;
} 


/*  fin SECTION SERVICES*/
/*  DEBUT SECTION NOS PROJETS*/
.container1{
  display:inline-block;
  padding:0 60px;

}
.nos-projet{
  margin:0 20px;
}
.projet1{
 display:inline;
 padding: 0 20rem;
 font-size: 1.1rem;


}
.btn-group{
  display:flex;
  padding: 0 30rem;
  margin:0 50px;
  
}
.btn-group :hover{
  background-color:#6b9bed;
  color:white;
}

.btn1 , .btn2 , .btn3 , .btn4{
  color: #64686D;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #E5E5E5;
  padding:15px;
  border: #E5E5E5;
  font-weight: bold;
  width: 150px;
  height: 50px;
}
.btn1{
  border-radius: 8px 0 0 8px;
}
.btn4{
  border-radius: 0 8px 8px 0;
}
.container2{
  margin: 80px 0 0 0;
  display: grid;
  grid-template-columns: repeat(4 , 300px);
  grid-template-rows: repeat(2 , 220px);
  column-gap: 20px;
 justify-content: center;
}
.text-hover{

  top: 50%; transform: translateY(-190%);
  left:30%;
  font-size: 2rem;
  background:rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  width: 80%;
  text-align: center;
  padding:15px;
  margin:0 20px;
}

.text-hover a {
  text-decoration:none;
  color:white;
}
.text-hover i{
  margin:0 120px;
  margin-top:-35px;
}
  
/* Fin section NOS PROJETS    */ 

/* debut derniére section    */ 
iframe{
  width: 100%;
  height: 700px;
  position: absolute;
  z-index: 1;
 
}
.btn{
  background-color:blue;
  color: white;
  border-radius: 5px;
  
}
.btn:hover{
  transform: scale(1.1);
  color: white;
}
.container3{

  padding: 50px 60px;
  position: absolute;
  z-index: 2; /* place .boite-verte au-dessus de .boite-tirets */
  background:white;
  height:400px;
  width: 200px;
  left:70%;
  margin-top:35px;
  opacity: 0.9;
  border-radius: 30px;
}
.assist{
  font-size: x-small;
  color: blue;

}
.info1{
  font-size:1.3rem;
  font-family:Arial, Helvetica, sans-serif;
}
.info2{
  font-size:1.5rem;
  font-family:Arial, Helvetica, sans-serif;
  margin-top:20px;
  color:#3677e7 ;
}
.info3{
  font-size:1rem;
  font-family:Arial, Helvetica, sans-serif;
  margin-top:20px;
}

